$font-size: 14px;
$color-white: #fff;
$color-grey: #f5f7f9;
$color-light-grey: #ebedef;
$color-font: #53585e;
$color-green: #459672;
$color-dark-grey: #787878;
$breakpoint: 1024px;
$breakpoint2: 620px;
$breakpoint3: 380px;
