{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue/scss"
  ],
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": {
        "value-keyword-case": null
      }
    }
  ]
}
